{{>layouts/header}}

<script>

    function onChangeCount(e) {
        const productElement = document.getElementById('product-price');
        const count = e.target.value;
        const price = {{product.price}};
        productElement.textContent = `가격: $${price * count}`;
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector(`input[name='orderCount']`).addEventListener('change', onChangeCount);
    });
</script>
<div class="w-full py-5 px-3 flex justify-center">
    <div class="max-w-[1200px] bg-white shadow rounded-lg px-5 py-5 w-full">
        <h1 class="text-3xl font-bold mb-2 pb-4">상품 주문하기</h1>
        <div class="flex flex-col items-start md:flex-row w-full gap-10">
            <img src="https://picsum.photos/200" alt="{{product.name}}"
                 class="w-full rounded-lg max-w-[300px] lg:max-w-[400px]">
            <div class="flex flex-col grow">
                <h1 class="text-3xl font-bold mb-2">{{product.name}}</h1>
                <p class="text-gray-600 mb-4">{{product.description}}</p>
                <form class="flex flex-col gap-2 w-full" action="/order?productId={{product.id}}" method="post">
                    <label class="flex flex-col">
                        수량
                        <input class="rounded border h-[40px] w-[100px] resize-none px-2 py-2 focus:outline-none"
                               name="orderCount" type="number" required max="{{product.stock}}" min="1" value="1"
                        />
                    </label>
                    <p class="text-sm text-gray-500">주문 가능 수량: {{product.stock}}</p>
                    <div class="flex justify-end w-full">
                        <p class="text-lg font-semibold text-gray-800 mb-2 mr-2" id="product-price">가격: ${{product.price}}</p>
                        <button type="submit"
                                class="w-[200px] bg-amber-400 hover:bg-amber-300 cursor-pointer flex justify-center rounded-lg px-3 py-2">
                            주문하기
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{>layouts/footer}}